# Email Spam Detection with Machine Learning

Email spam detection with machine learning involves training a model on a labeled dataset of emails (spam and non-spam) to learn patterns and features that distinguish between the two. The model then applies these learned patterns to classify incoming emails as either spam or legitimate based on their content, sender, and other characteristics. Common techniques include using text analysis, natural language processing, and feature engineering to build an effective spam filter.

# Targets

The primary objectives of email spam detection using machine learning are to enhance email security and user experience. By employing ML algorithms, we aim to automatically identify and filter out spam emails, reducing the risk of phishing attacks, malware distribution, and unwanted solicitations. This enhances productivity, protects users from malicious content, and ensures that important emails reach their intended recipients, ultimately improving overall email communication efficiency and safety.

In [ ]:
#Importing the dependencies

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer  #converting the text data i.e., mail data into numerical values.So that our machine learning model can understand it easily.
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Data Collection and Pre-Processing:

In [2]:
#loading the data from csv file to a pandas dataframe

raw_mail_data=pd.read_csv("spam.csv",encoding='latin-1')

In [3]:
raw_mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
print(raw_mail_data)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [5]:
#reppace all null mail values with a null string

mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [6]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [7]:
mail_data.drop(['Unnamed: 2','Unnamed: 3', 'Unnamed: 4'], axis = 1, inplace = True)

In [8]:
mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [28]:
mail_data.shape

(5572, 2)

# Label Encoding:

In [13]:
#label spam mail as 0; ham mail as 1;
mail_data.loc[mail_data['v1']=='spam','v1',]=0
mail_data.loc[mail_data['v1']=='ham','v1',]=1

In [14]:
#separating the data as texts and labels

x=mail_data['v2']
y=mail_data['v1']

In [15]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [16]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

# Splitting the data into Train data and Test data:

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [18]:
print(x.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

# Feature Extraction:

In [19]:
#transform the text data to feature vectors that can be used as input to the Logistic Regression

feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

# Convert Y_train and Y_test into integers

Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [20]:
print(X_train_features)

  (0, 2400)	0.42251087562056844
  (0, 6643)	0.310713090556495
  (0, 890)	0.4431414936624499
  (0, 3102)	0.4078732191722945
  (0, 3308)	0.4607061502580205
  (0, 3697)	0.38724260113041314
  (1, 4285)	0.3619488551509563
  (1, 3709)	0.49218179847458676
  (1, 7020)	0.3597932878999011
  (1, 3022)	0.2656832920063487
  (1, 6479)	0.46190436338926344
  (1, 2530)	0.46190436338926344
  (2, 3109)	0.15859116597265116
  (2, 4045)	0.15859116597265116
  (2, 777)	0.24853230530973786
  (2, 3267)	0.3059351024463395
  (2, 6904)	0.3323889186374277
  (2, 3867)	0.22778533625897432
  (2, 7140)	0.3323889186374277
  (2, 4836)	0.2640067957824946
  (2, 6113)	0.3323889186374277
  (2, 5497)	0.39905624733507106
  (2, 4344)	0.29741887579744203
  (2, 6985)	0.3059351024463395
  (3, 2642)	0.4893788451570101
  :	:
  (4454, 5637)	0.25666584238764617
  (4454, 1470)	0.30396107829387736
  (4454, 2095)	0.24269967159421676
  (4454, 7019)	0.2053843287832964
  (4454, 3827)	0.23135590834159414
  (4454, 1497)	0.23226820104119308
  (4454, 7341)	0.20890830491902754
  (4454, 5429)	0.19670542026554755
  (4454, 3910)	0.17270121927633075
  (4454, 7343)	0.2392861616498662
  (4454, 4729)	0.28073274376176477
  (4454, 3308)	0.1879158344617664
  (4455, 6125)	0.49254399506332164
  (4455, 4050)	0.49254399506332164
  (4455, 5524)	0.42169555868350506
  (4455, 3984)	0.29566683378484426
  (4455, 2219)	0.327533135641731
  (4455, 3910)	0.23530364385877742
  (4455, 7279)	0.2948034010723991
  (4456, 6225)	0.36966265061037046
  (4456, 2084)	0.41127314829919703
  (4456, 3217)	0.320354882915036
  (4456, 7185)	0.661472367983503
  (4456, 6367)	0.3028676527451782
  (4456, 6424)	0.24960401146455696

# Logistic Regression:

In [21]:
model=LogisticRegression()

In [22]:
#training the logistic regression model with the training data

model.fit(X_train_features,Y_train)

LogisticRegression()

# Evaluting the Trained Model:

In [23]:
#prediction on training data

prediction_on_training_data=model.predict(X_train_features)
accuracy_on_training_data=accuracy_score(Y_train,prediction_on_training_data)

In [24]:
print("Accuracy on training data:",accuracy_on_training_data)

Accuracy on training data: 0.9699349338119811

In [25]:
#prediction on test data

prediction_on_test_data=model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(Y_test,prediction_on_test_data)

In [26]:
print("Accuracy on test data:",accuracy_on_test_data)

Accuracy on test data: 0.9560538116591928

# Building a Predictive system:

In [27]:
input_mail=["URGENT! You have won a 1 week FREE membership in our å£100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18"]

#convert text to feature extraction
input_data_features=feature_extraction.transform(input_mail)

#making predictions
prediction=model.predict(input_data_features)
print(prediction)


if prediction[0]==1:
    print("Ham mail")
else:
    print("spam mail")

[0]
spam mail